<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="default.pattern" value="%date [%thread] %-5level %logger{80} - %msg%n" />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${default.pattern}</pattern>
		</layout>
	</appender>

	<logger name="net.sourceforge.cobertura">
		<level value="WARN" />
	</logger>
	
	<logger name="com.baidu.spark">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.dbunit">
		<level value="WARN" />
	</logger>
	
	<logger name="org.hibernate.SQL">
		<level value="ERROR" />
	</logger>

	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>
	<logger name="org.hibernate.cache">
		<level value="ERROR" />
	</logger>
	<logger name="org.springframework">
		<level value="WARN" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
	</root>
		
</configuration>
