.jstt { position: absolute; font-size: 12px; padding: 20px; text-align: left; }
.jstt .arrow { position: absolute; width: 20px; height:20px; }
.jstt .arrow-down { left: 40px; bottom: 10px; background: url(box-icons.png) no-repeat 0 -60px; }
.jstt .arrow-left { left: 9px; top: 60px; background: url(box-icons.png) no-repeat 0 0; }
.jstt .arrow-right { right: 2px; top: 60px; background: url(box-icons.png) no-repeat 0 -20px; }
.jstt .box { background: url(box-bg-rb.png) no-repeat right bottom; padding-right: 4px; }
.jstt .box-outer { background: url(box-bg-lb.png) no-repeat left bottom; padding-bottom: 4px; }
.jstt .box-inner { background: url(box-bg-rt.png) no-repeat right top; margin-right: -4px; padding: 0 4px 4px 0; }
.jstt .box-content { background: url(box-bg-lt.png) no-repeat left top; margin-bottom: -4px; }
.jstt .box-header { background: url(box-header-bg-r.png) no-repeat right top; height: 31px; padding-right: 4px; margin-right: -4px; }
.jstt .box-header .box-header-content { zoom: 1; overflow: hidden; background: url(box-header-bg-l.png) no-repeat left top; }
.jstt .box-header .box-header-content h1 { display: block; float: left; font-size: 14px; font-weight: bold; color: #fff; margin: 0; padding: 0 12px; line-height: 31px; }
.jstt .box-header .box-header-content span { display: block; float: right; padding: 0 12px; line-height: 31px; }
.jstt .box-header .box-header-content span a { color: #fdd; }
.jstt .box-header .box-header-content span a.close { display: block; height: 20px; width: 20px; background: url(box-icons.png) no-repeat 0 -100px; margin: 5px -8px; }
.jstt .box-body { margin: 12px 12px 0 12px; _margin: 12px 12px 4px /* IE6 Only */; padding-bottom: 4px; line-height: 150%; }
