<?xml version="1.0" encoding="UTF-8"?>
<web-app id="spark-web" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>spark Web</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>cas.root</param-value>
    </context-param>

	<!-- Encoding Filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- CAS Single Sign Out Filter -->
    <filter>
       <filter-name>casSingleSignOutFilter</filter-name>
       <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
    </filter>

    <filter-mapping>
       <filter-name>casSingleSignOutFilter</filter-name>
       <url-pattern>/*</url-pattern>
    </filter-mapping>

	<!-- Spring Security Filter -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

	<filter>
		<filter-name>flashScope</filter-name>
		<filter-class>com.baidu.spark.util.FlashScopeFilter</filter-class>
		<init-param>
	      <param-name>filterPattern</param-name>
	      <!-- 过滤所有的ajax和静态文件扩展名的请求 -->
	      <param-value>^((?!ajax).)*(?&lt;!(gif|jpg|jpeg|htm|png|js|css|txt|swf|cur))$</param-value>
	    </init-param>    
	</filter>
	
	<filter-mapping>
		<filter-name>flashScope</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Hibernate Open Session in View Filter -->
	<filter>
		<filter-name>openSessionInView</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>openSessionInView</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Hibernate Open Session in View Filter -->
	<filter>
		<filter-name>MessageHolderFilter</filter-name>
		<filter-class>com.baidu.spark.filter.MessageHolderFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>MessageHolderFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Exclude static resources -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.gif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.bmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.ico</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpeg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.cur</url-pattern>
	</servlet-mapping>

	<!-- Spring MVC Dispatcher -->
	<servlet>
		<servlet-name>spark</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spark</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Filter to wrap request by _method parameter to support DELETE/PUT HTTP method-->
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>spark</servlet-name>
	</filter-mapping>

	<!-- Spring Context Listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- CAS Single Sign Out Listener -->
	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>
	<!-- session time out -->
	<session-config>
		<session-timeout>1440</session-timeout>
	</session-config>
	<!-- Taglibs -->
	<jsp-config>
		<taglib>
			<taglib-uri>http://spark.baidu.com/tags</taglib-uri>
			<taglib-location>/META-INF/spark.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>
